{% extends "base.html" %}

{% block content %}


<form class="search" action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <!-- prod_id: {{prod_id}} -->
  <p>

    <!-- <ins>Filter by Category</ins> -->
    <tbody>
      {% for product in avail_products%}
      
      <div class="card">
        <img src={{product.image}} style = "width: 25vw">
        <h1>{{product.product_name}}</h1>
        <p class="price">${{product.price}}</p>
        <p>{{product.description}}</p>
        <p>{{product.category}}</p>
        <p>About this item: {{product.description}}</p>
        <p>Rating:
          <span class="score"><span style="width: {{product.rating*20}}%"></span></span></p>
        <p>Seller: {{product.seller}}</p>

        {% if current_user.is_authenticated %}

        <a href="{{ url_for('addcart.addcart', pid=product.product_id) }}" type="button" class="btn btn-light btnspace"> Add To Cart </a>
        <a href="{{ url_for('reviewHome.addProductReview', pid=product.product_id) }}" class="btn btn-light btnspace"> Add a Product Review </a>
        <a href="{{ url_for('reviewHome.addSellerReview', sid=product.seller_id) }}" class="btn btn-light btnspace"> Add a Seller Review </a>

        {% endif %}

        <a href="{{ url_for('reviewHome.seeSellerReview', sid=product.seller_id) }}" class="btn btn-light btnspace"> {{product.seller}} Reviews </a>
        <a href="{{ url_for('reviewHome.seeProductReview', pid=product.product_id) }}" class="btn btn-light btnspace"> {{product.product_name}} Reviews </a>
        <a href="{{ url_for('loginview.seeUser', uid=product.seller_id) }}" class="btn btn-light btnspace"> {{product.seller}}'s Seller Page </a>

      </div>
      {% endfor %}
    </tbody>
  
    {% for error in form.search_key.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    <h1> Related Products</h1>
    <tbody>
      {% for rel_product in related_products%}
      
      <div class="card">
        <img src={{rel_product.image}} style="width: 25vw">
        <h1>{{rel_product.product_name}}</h1>
        <p class="price">${{rel_product.price}}</p>
        <p>Rating:
          <span class="score"><span style="width: {{rel_product.rating*20}}%"></span></span></p>
        <p>Seller: {{rel_product.seller}}</p>
        <a href="{{ url_for('addcart.addcart', pid=rel_product.product_id) }}" type="button" class="btn btn-light btnspace"> Add To Cart </a>
        <a href="{{ url_for('reviewHome.seeProductReview', pid=rel_product.product_id) }}" class="btn btn-light btnspace"> {{rel_product.product_name}} Reviews </a>
        <a href="{{ url_for('reviewHome.seeSellerReview', sid=rel_product.seller_id) }}" class="btn btn-light btnspace"> {{rel_product.seller}} Reviews </a>
      </div>
      {% endfor %}
    </tbody>

  </p>
  <p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </p>
  <div style="position:absolute; left:800px; top:60px; background-color:black;">
    <!-- {{ form.submit(class_="btn btn-black") }} -->
  </div>
  <br><br>
    <br><br>
    {% if current_user.is_authenticated %}
    <h2>Your recent purchases:</h2>
    {% else %}
    <p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>
    {% endif %}

    {% endblock %}
