{% extends "base.html" %}

{% block content %}

<form class= "search" action="/productsearch" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    <div style = "background-color:lightblue;">
      {{ form.search_key.label }}<br/>
    </div>

    <div style = "background-color:lightblue;">
      {{ form.search_key(size=32) }}
    </div>

    <div style = "background-color:lightblue;">
      {{ form.low.label }}<br/>
      <div style = "background-color:lightblue;">
        {{ form.low(size=32) }}
      </div>
    </div>
    <p>TO</p>
    <div style = "background-color:lightblue;">
      {{ form.high.label }}<br/>
      <div style = "background-color:lightblue;">
        {{ form.high(size=32) }}
      </div>
    </div>
    <div style = "background-color:lightblue;">
      {{ form.myField.label }}<br/>
    </div>

    <div style = "background-color:lightblue;">
      {{form.myField}}
    </div>

    <div style = "background-color:lightblue;">
      {{ form.myField1.label }}<br/>
    </div>

    <div style = "background-color:lightblue;">
      {{form.myField1}}
    </div>

    <div style = "background-color:lightblue;">
      {{ form.myField2.label }}<br/>
    </div>
    <div style = "background-color:lightblue;">
      {{form.myField2}}
    </div>

    {% for error in form.search_key.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  
  </p>
  <p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </p>
  <div style = "position:absolute; left:800px; top:250px; background-color:black;">
    {{ form.submit(class_="btn btn-black") }}
  </div>
  
  <br><br>


<h2>Products Searched:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
      <th scope="col">Average Rating</th>
      {% if current_user.is_authenticated %}
      <th scope= "col"> Add To Cart</th>
      <th scope="col">Add To Wishlist</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <tr>
          <th scope="row"><a href ="{{ url_for('productsearch.prod_detail', prod_id=product.product_id) }}"> {{product.product_name}}</a></th>
          <td>{{product.category}}</td>
        <td>{{"$%.2f"|format(product.price|float)}}</td>
        <td>{{product.description}}</td>
        <td>{{product.image}}</td>
        <td><span class="score"><span style="width: {{product.rating*20}}%"></span></span></td>
        {% if current_user.is_authenticated %}
        <td> <a href="{{ url_for('addcart.addcart', pid=product.product_id) }}" type="button" class="btn btn-light"> Add To Cart </a> </td>
        <td> <a href="{{ url_for('wishlistitem.addWishlist', pid=product.product_id) }}" type="button" class="btn btn-light"> Add To Wishlist </a> </td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>

{% endblock %}