{% extends "base.html" %}

{% block content %}

{% for mesg in get_flashed_messages() %}
      <h3>{{ mesg }}</h3>
{% endfor %}
<h2>Product Information:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Average Rating</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <th scope="row">{{curr_product.pid}}</th>
        <td>{{curr_product.name}}</td>
        <td>{{curr_product.description}}</td>
        <td>{{curr_product.category}}</td>
        <td>{{"$%.2f" | format(curr_product_2.price|float)}}</td>
        <td>{{curr_product_2.quantity_available}}</td>
        {% if curr_product_2.avg_rating%}
            <td>{{"%.2f" | format(curr_product_2.avg_rating|float)}}</td>
        {% else %}
            <td>N/A</td>
        {% endif %}
      </tr>
  </tbody>
</table>

{% if curr_product.image %}
<img src= {{curr_product.image}} width="500" height="auto">
{% endif %}
<br>
<h2>Add to cart?</h2>
<form action="" method="post">
  {{ form1.hidden_tag() }}
  <p>
    {{ form1.amountToBuy.label }}<br/>
    {{ form1.amountToBuy(size=5) }}<br/>
  </p>
  <p>{{ form1.submit1() }}</p>
</form>


<h2>Reviews:</h2>
<h3>Number of Reviews: {{num_reviews}}</h3>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Reviews</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>
  <tbody>
    {% for product in reviews%}
      <tr>
        <th scope="row">{{product.review}}</th>
        <td>{{product.rating}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if bought_product and not left_review%}
<p>You've bought this item before! Would you like to leave a review?</p>
<form action="" method="post">
  {{ form2.hidden_tag() }}
  <p>
    {{ form2.review.label }}<br/>
    {{ form2.review(size=32) }}<br/>
  </p>
  <p>
    {{ form2.rating.label }}<br/>
    {{ form2.rating(size=5) }}<br/>
  </p>
  <p>{{ form2.submit2() }}</p>
</form>
{% endif %}

{% if left_review%}
<p>You've reviewed this item before! Would you like to update your review?</p>
<form action="" method="post">
  {{ form3.hidden_tag() }}
  <p>
    {{ form3.review.label }}<br/>
    {{ form3.review(size=32) }}<br/>
  </p>
  <p>
    {{ form3.rating.label }}<br/>
    {{ form3.rating(size=5) }}<br/>
  </p>
  <p>{{ form3.submit3() }}</p>
</form>
<form action="" method="post">
  {{ form4.hidden_tag() }}
  <p>{{ form4.submit4() }}</p>
</form>
{% endif %}

<h2>All Sellers:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity Available</th>
    <th scope="col">Average Rating</th>
    </tr>
  </thead>
  <tbody>
    {% for seller in all_sellers%}
      <tr>
        <th scope="row"><a href ="{{ url_for('productSummary.product_summaries', pid = seller.pid) }}"> {{seller.pid}}</a></th>
        <td><a href = "{{ url_for('social.social', id = seller.seller_id) }}">{{seller.firstname}}</a></td>
        <td>{{seller.lastname}}</td>
        <td>{{"$%.2f" | format(seller.price|float)}}</td>
          <td>{{seller.quantity_available}}</td>
          {% if seller.avg_rating%}
            <td>{{"%.2f" | format(seller.avg_rating|float)}}</td>
        {% else %}
            <td>N/A</td>
          {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>



{% if sold_product %}
<p>You're currently selling this item! Would you like to update the information <a href="{{ url_for('updateproduct.updateProductPage', pid = pid) }}">here</a>? </p>
{% endif %}





{% endblock %}