{% extends "base.html" %}

{% block content %}
<h2>Seller Inventory That needs to be Fulfilled</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Product ID</th>
      <th scope="col">Seller ID</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Total Price</th>
      <th scope="col">Order Time</th>
      <th scope="col">Fulfilled?</th>
      <th scope="col">Fulfillment Time</th>
      <th scope="col">Shipped Address</th>
      <th scope="col">Button to Fulfill Order</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in inventory1%}
      <tr>
        <th scope="row">{{purchase.superorder_id}}</th>
        <td>{{purchase.product_id}}</td>
        <td>{{purchase.seller_id}}</td>
        <td>{{purchase.quantity}}</td>
        <td>{{purchase.price}}</td>
        <td>{{purchase.price*purchase.quantity}}</td>
        <td>{{purchase.order_time}}</td>
        <td>{{ purchase.fulfillment }}</td>
        <td>{% if purchase.fulfillment %} {{ purchase.fulfillment_time}}{% endif %}</td>
        
        <td>{{ purchase.address }}</td>
        <td> <a href="{{ url_for('sellerview.fulfill', order_id=purchase.order_id)}}" type="button" class="btn btn-light"> Fulfill </a> </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}