
{% extends "base.html" %}

{% block content %}
<form class= "search" action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    {{ form.name.label }}<br/>
    {{ form.name(size=32) }}<br/>
    {% for error in form.name.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {{ form.quantity.label }}<br/>
    {{ form.quantity(size=32) }}<br/>
    {% for error in form.quantity.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {% if form.neg == 1%}
          You cannot set a negative quantity! Did you mean to remove quantity instead?
    {% endif %}
  </p>
  <p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </p>
  {{ form.submit(class_="btn btn-black") }}
  <br><br>



{% endblock %}
